/* App.css */

.background {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: rgb(220, 220, 221);
  justify-content: center;
  align-items: center;
}

.taskcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 30px 20px;
  margin-bottom: 20px;
}

/*changed heading text to image...saving this as place holder in case of change in plans
/* .heading {
  color: #3f5457;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 50px;
  padding: 15px 25px;
  border-radius: 8px;
} */

.noItem {
  color: black;
  font-size: 17px;
  font-weight: bolder;
  margin-bottom: 50px;
}

.addTodo {
  background-color: #b2d4d8;
  border: none;
  border-radius: 8px;
  width: 300px;
  font-size: 18px;
  padding: 10px 15px;
  margin: 15px 0;
  color: #131a28;
  /* font-weight: bold; */
  text-align: center;
  cursor: pointer;
}

.todos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  width: 300px;
  font-size: 18px;
  padding: 10px 15px;
  margin: 15px 0;
}

.addTodo::placeholder {
  color: black; 
  font-style: italic; 
}

.todoName {
  color: #131a28;
}

.todoButtons button {
  margin-left: 5px;
  background-color: #b2d4d8;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 10px 15px;
  color: #131a28;
  /* font-weight: bold; */
  cursor: pointer;
}

.todoButtons button:disabled {
  background-color: #eeebeb;
  cursor: not-allowed;
}

.title-container {
  display: flex;
  align-items: center; 
  margin-bottom: 20px; 
}

.note-image {
  width: 50px; 
  height: auto; 
  margin-left: 20px; 
  }
