

.background {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: lightcyan;
  color: white;
  justify-content: flex-start;
  align-items: center;
}

.taskcontainer {
  display: flex;
  max-width: 70vh;
  height: 100%;
  flex-direction: column;
  text-align: center;
  background-color: #131A28;
  color: white;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px;
  margin: 0 auto 20px;
  min-height: 205px;
}

.heading {
  color: #1CDBF5;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
  background-color: #131A28;
  padding: 15px 25px;
  border-radius: 8px;
}