

.background {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: lightcyan;
  color: white;
  justify-content: flex-start;
  align-items: center;
}

.taskcontainer {
  display: flex;
  max-width: 70vh;
  height: 100%;
  flex-direction: column;
  text-align: center;
  background-color: white;
  color: white;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px;
  margin: 0 auto 20px;
  min-height: 205px;
}

.heading {
  color: #1CDBF5;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
  background-color: white;
  padding: 15px 25px;
  border-radius: 8px;
}
.noItem {
  color: darkblue;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
}
.listItem {
  background-color: #1CDBF5;
  border: none;
  border-radius: 8px;
  width: 300px;
  font-size: 18px;
  padding: 10px 15px;
  margin: 15px 0;
  color: #131A28;
  font-weight: bold;
  text-align: start;
  align-items: center;
  cursor: pointer;
}